<h1>Welcome to Workaholic, your personalised todo list manager!</h1>
<p>This is a web application designed for you to manage your daily tasks.</p>
<p>You are also able to view your past achievements here!</p>
<p>Come and explore!</p>

<%= link_to 'My Workaholic', controller: 'items' %>
