/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *
 *= require_self 
 *= require_tree .
 */
@import 'bootstrap';
@import 'bootstrap-datepicker3';
@import 'bootstrap-tagsinput';
@import 'bootstrap-tagsinput-typeahead';
@import 'font-awesome-sprockets';
@import 'font-awesome';

#header {
  background-color: rgba(0, 120, 240, 0.220);
}

.table td, .table th {
  vertical-align: middle;
  text-align: center;
}

.table > thead > tr > th > a {
  color: inherit;
  text-decoration: inherit;
}

.fa { display:inline; }

.alerts {
  color: "#FFFFFF";
  position: fixed;
  top: 0;
  width: 50%;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 9999;
}

.inner {
  margin: 5px;
}

.name {
  text-align: left;
}

.user {
  float: right;
}

.toolbar {
  margin-bottom: 0.5rem;
}

.mytags {
  white-space: nowrap;
  font-size: 0.8em;
  margin: 0.5em 0;
}

.mytags>.mytag:first-child:last-child {
  border-radius: 0.5em 0.5em 0.5em 0.5em;
  margin-left: 0
}

.mytags>.mytag:first-child {
  border-radius: 0.5em 0 0 0.5em;
  margin-left: 0
}

.mytags>.mytag:last-child {
  border-radius: 0 0.5em 0.5em 0
}

.mytag {
  border: 1px solid #aaa;
  margin-left: -1px;
  padding: 0.1em 0.5em;
}

.taglink {
  text-decoration: none;
  color: inherit;
}

.search-form *:not(:last-child) {
  margin-right: 5px;
}

form.search-form {
  display: flex;
  width: 100%;
}

.search-form input {
  display: inline;
  flex-grow: 100;
  vertical-align: middle;
}
