<p>
  <strong>Remark:</strong>
  <%= remark.body %>
</p>

<p>
  <strong>Date:</strong>
  <%= remark.date %>
</p>

<p>
  <%= link_to 'Delete Remark', 
      [remark.item, remark],
      class: 'btn btn-default',
      method: :delete,
      data: { confirm: 'Delete this remark?' } %>
</p>
