<footer class="footer" align = center>
  <hr>	
  <small>
    <a href = "https://workaholics.herokuapp.com"><i class="fa fa-calendar"></i>&nbsp; Workaholic</a>&nbsp;
    by&nbsp; <a href = "https://github.com/jiayushe/"><i class="fa fa-github"></i>&nbsp; She Jiayu</a> for CVWO Assignment 2019.
    <br>
    Copyright reserved by&nbsp; <a href = "https://github.com/jiayushe/"><i class="fa fa-github"></i>&nbsp; She Jiayu</a> © 2018-2019.
  </small>
  <br>
</footer>
