<footer class="footer" align = center>
  <hr>	
  <small>
    <a>Workaholic</a> by <a href = "http://github.com/jiayushe/">She Jiayu</a> for CVWO Assignment 2019.
    <br>
    Copyright reserved by <a href = "http://github.com/jiayushe/">She Jiayu</a> © 2018-2019.
  </small>
  <br>
</footer>
